*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body{
    background-image: linear-gradient(to right, rgb(148, 238, 191), rgb(7, 64, 108));
    height: 200px;
    overflow: hidden;
    justify-content: center;
    display: flex;
    align-content: center;
}

#card{
    width: 350px;
    height: 400px;
    padding: 15px;
    position:fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: dodgerblue;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
h2{
    color: white;
    text-align: center;
    margin-bottom: 5px;

}

img{
    margin: 10px;
    margin-bottom: 0px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 0;
}
ul{
    padding: 0;
}

section{
    width: 180px;
    height: 100px;
    background-color: white;
    position: relative;
    right: -190px;
    margin-top: 29px;
    border-radius: 5px;
    justify-content: center;
    align-content: center;
    color: blue;
    position: absolute;
    transition: all 1s;
    padding-top: 5px;
}


header{
    text-align: center;
    margin-bottom: 15px;
    border-bottom: 1px solid white;
} 

li{
    text-align: center;
    width: 100%;
    height: 30px;
    line-height: 30px;
    list-style-type: none;
    cursor: pointer;
    font-size: small;
}

li:hover{
    background-image:linear-gradient(to right, rgb(148, 238, 191), rgb(7, 64, 108));
    color: white;
}
a{
    text-decoration: none;
}



label{
    font-weight:bold;
}

input{
    height: 30px;
    padding: 10px;
    width: 80%;
    margin-bottom: 8px;
    text-align: center; 
    outline: none;
    font-weight:normal;
    border: none;
}

#txtarea{
    text-align: center;
    margin-top: 5px;
    padding: 5px;
    color: rgb(17, 255, 0);
    width: 80%;
    outline: none;
    background-color: black;
    height: 50px;
    font-size: small;
    display: none;
}

.bar{
    width: 73%;
    height: 5px;
    display: flex;
    justify-self: center;
    position: fixed;
    bottom: 25px;
   left: 48px;
   animation: bar 1s ease-in;
}

    @keyframes bar {
        from{
            width: 0;
        }
        to{
            width: 73%;
        }
    }

button{
    margin: 5px;
    border: 0;
    background-image:linear-gradient(to right, rgb(112, 218, 163), rgb(5, 48, 81));;
    color:white;
    width: 80%;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    letter-spacing: 2px;
    font-weight: bold;
}
button:hover{
    transition :all .7s ease;
    color : white;
    background-image : linear-gradient(90deg,#32556e, rgb(222, 230, 234));
}


#status{
    margin-top: 6px;

}

input::placeholder{
    color: #a7bcca;
}


.modal{
    width: 200px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: white;
    display: none;
    position: absolute;
    margin: 50px;
   animation: anime 2s;
}

@keyframes anime {
    from{
        opacity: 0;
    }
     to{
        opacity: 1;
     }
    
}

.spanModal{
    color: red;
    font-weight: bold;
    font-size: small;
}
.x{
    background-color: red;
    color: white;
    position: fixed;
    top:55px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 50%;
}
.x:hover{
    transform: rotate(90deg);
    transition: all .6s ease;
}

footer{
    width: 100%;
    height: 40px;
    color: white;
    text-align: center;
    line-height: 40px;
    position: fixed;
    bottom: 0;
    font-size: small;
}